@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
* {
	margin: 0;
	padding: 0;
}
body {
	text-align: center;
}
.wrapper {
	width: 1170px;
	margin: 0 auto;


}
header {
	height: 100px;
	background: #000000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	width: 100%;
	z-index: 10;
	position: fixed;
}

.img{
	position: fixed;
	left: 0;
	right: 0;

}

.logo a {
	text-decoration: none;
	font-size: 30px;
	font-family: poppins;
	color: #222;
	font-weight: bold;
	letter-spacing: 5px;
}
nav {
	float: right;
	line-height: 100px;
}
nav a {
	text-decoration: none;
	font-family: poppins;
	letter-spacing: 4px;
	font-size: 20px;
	margin: 0 10px;
	color: #fff;


}

nav a:hover{

  color: #222;
	background-color: #fff;
	font-weight: bold;
  padding-left: 4px;
  padding-right: 4px;
  transition: 0.5s;
  border-radius: 5px 5px 5px 5px;
	box-shadow: 0 10px 15px   rgba(145, 92, 182, .4);

}

.banner-area {
	width: 100%;
	height: 500px;
	position: fixed;
	top: 100px;
	background-image:url("../images/background1.jpg");
    filter: blur(5px);
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	

}



.banner-area h2 {
	padding-top: 8%;
	font-size: 70px;
	font-family: poppins;
	text-transform: uppercase;
	color: #fff;
}
.content-area {
	width: 100%;
	position: relative;
	top: 450px;
	background: #8e9eab;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #eef2f3, #8e9eab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	opacity: 0.9;
	height: 100%;

}
.content-area h2 {
	font-family: poppins;
	letter-spacing: 4px;
	padding-top: 30px;
	font-size: 40px;
	margin: 0;

}
.content-area p {
	padding: 2% 0px;
	font-family: poppins;
	line-height: 30px;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
  background: #000000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}


.form{
	padding-top: 90px;
	padding-bottom:90px;
	border-top-left-radius: 70px;
	border-bottom-right-radius: 70px;
	border-width: 5px;
	border-style: solid;
	border-color: #000;
	text-align:center;
}

label{
	font-size: 30px;
	font-family: 'Quicksand', sans-serif;
}
.input{
	border-style:solid;
	border-top-color: transparent;
	border-left-color: transparent;
	border-right-color: transparent;
	border-bottom-color: black;
	background-color: transparent;
	width: 40%;
	height: 30px;
	font-size: 20px;
	outline: none;
}
table {
  text-align: center;
  line-height: 40px;
  font-family: candara;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #808080;
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

 

#submit{
	 margin-left: 0%;
	 width:15%;
	 font-size:large;
	 background-color: #32C81A;
	 height:40px;
	 border:none;
	 color:white;
	 border-radius:8px;
	 cursor:pointer;
	  transition: 0.5s;
	 
}	

#submit:hover {
	box-shadow: 0 10px 15px  #a2ff42;
	
	
}

#update{
	 margin-left: 0%;
	 width:25%;
	 font-size:large;
	 background-color: #0080ff;
	 height:40px;
	 border:none;
	 color:white;
	 border-radius:8px;
	 cursor:pointer;
	 transition: 0.5s;
	 
}	

#update:hover {
	box-shadow: 0 10px 15px  #06d9ff;
	
	
	
}

table {
  text-align: center;
  line-height: 40px;
  font-family: candara;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #808080;
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

